<launch>
    <arg name="model" default="$(find mbot_simulation)/urdf/mbot.xacro"/>
    <arg name="rvizconfig" default="$(find mbot_simulation)/rviz/mbot_sim.rviz"/>

    <include file="$(find mbot_simulation)/launch/mbot_gazebo.launch"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"/>

    <rosparam command="load" file="$(find mbot_simulation)/urdf/config/joints.yaml"
              ns="mbot_joint_state_controller"/>
    <rosparam command="load" file="$(find mbot_simulation)/urdf/config/diffdrive.yaml"
              ns="mbot_diff_drive_controller"/>

    <node name="mbot_controller_spawner" pkg="controller_manager" type="spawner"
          args="mbot_joint_state_controller
                mbot_diff_drive_controller"/>

    <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
        <param name="default_topic" value="/mbot_diff_drive_controller/cmd_vel"/>
    </node>

</launch>